project/.tmp_data
project/logfiles
project/database/data.sqlite3
exercises/airports.sqlite
.history
*.pyc
*.sqlite
*/__pycache__
de.code-workspace
DSB_Unfallatlas.pdf
unfallorte_all.csv
project/exploration_launcher.py
